html {
  overflow-y: scroll;
}

div.dc-chart {
  float: none;
}

.navbar {
  margin-bottom: 0;
}

#data-count {
  margin-top: 0;
  h2 {
    display: inline-block;
  }
}

#chart-shoes-stock {
  text-align: center;
}